@media (max-device-width: 1024px) {

.icon {
  height: 48px;
  width: 48px;
}

.btn-icon {
  bottom: 12px;
  padding: 8px;
  right: 12px;
  top: auto;
}

}

@media (max-width: 512px) {

.btn-icon {
  bottom: 6px;
  top: auto;
}

}