/*
  Kühlschrank - styles.css
  Please sort all properties after Global alphabetically.
  Resting elements should not have shadows, only active ones (hover, focus, active); light angle is 45° from top, scattered up to 22.5°.
*/

/*---Tokens------------------------*/
:root {
  --radius:     6px;
  --font:       'Inter';
}

/*---Colors------------------------*/
:root {
  --shadow-dp4:  0  4px  4px rgba(0,0,0,.13);
  --shadow-dp5:  0  5px  5px rgba(0,0,0,.125);
  --shadow-dp6:  0  6px  6px rgba(0,0,0,.12);
  --shadow-dp7:  0  7px  7px rgba(0,0,0,.115);
  --shadow-dp8:  0  8px  8px rgba(0,0,0,.11);
  --shadow-dp9:  0  9px  9px rgba(0,0,0,.105);
  --shadow-dp10: 0 10px 10px rgba(0,0,0,.10);
  --shadow-dp11: 0 11px 11px rgba(0,0,0,.095);
  --shadow-dp12: 0 12px 12px rgba(0,0,0,.09);

  --scrim: #00000080;
}

:root {
  --dp0:  #121212;
  --dp1:  #1C1C1C;
  --dp2:  #202020;
  --dp4:  #242424;
  --dp6:  #272727;
  --dp8:  #292929;
  --dp12: #2D2D2D;

  --border:         #3f3f3f;
  --border-variant: #4f4f4f;
  --text:           #ededed;
  --text-variant:   #939393;
}

[data-theme="light"] {
  --dp0:  #ffffff;
  --dp1:  #F1F1F1;
  --dp2:  #EBEBEB;
  --dp4:  #E5E5E5;
  --dp6:  #DFDFDF;
  --dp8:  #DDDDDD;
  --dp12: #D7D7D7;

  --border:         #bfbfbf;
  --border-variant: #cfcfcf;
  --text:           #121212;
  --text-variant:   #626262;
}

/*---Global------------------------*/
* {
  color: var(--text);
  font-family: var(--font);
  scroll-behavior: smooth;
}

.hidden {
  display: none;
  transition: none;
}

body {
  background: var(--dp0);
  color: var(--text);
  height: 100%;
  margin: 0;
  min-width: fit-content;
  overflow-x: auto;
  overflow-y: hidden;
  position: auto;
  width: 100%;
}

h1, h2, h3, h4, h5, h6, p {color: var(--text);}

.btn {
  align-items: center;
  background: var(--dp2);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  color: var(--text-variant);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  padding: 6px;
  transition: .15s;
}

.btn:hover {
  background: var(--dp8);
  box-shadow: var(--shadow-dp6);
  color: var(--text);
}

/*---Animations--------------------*/
@keyframes slideInFromTop {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*---Head--------------------------*/
.icon {
  height: 16px;
  width: 16px;
}

.btn-icon {
  border-radius: 50%;
  position: fixed;
  right: 8px;
  top: 8px;
  z-index: 101;
}

#title {
  top: -28px;
  padding: 16px;
  position: fixed;
}

#scrim {
  background: var(--scrim);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

/*---Arrow-------------------------*/
.arrow {
  align-items: center;
  display: flex;
  height: 4px;
  overflow-x: inherit;
  margin: 0 16px;
  transform: translateY(calc(50vh - 2px));
}

#arrow-line {
  background: var(--text);
  border-radius: 2px;
  height: 4px;
  position: absolute;
}

#arrow-head-top,
#arrow-head-bottom {
  background: var(--text);
  border-radius: 2px;
  height: 4px;
  position: absolute;
  right: 0;
  transform-origin: right center;
  width: 24px;
}

#arrow-head-top {
  transform: translateY(-50%) rotate(45deg);
  top: calc(50% + sqrt(2) * 1px);
}
#arrow-head-bottom  {
  transform: translateY(-50%) rotate(-45deg);
  top: calc(50% - sqrt(2) * 1px);
}

/*---Images------------------------*/
.images {
  display: flex;
  gap: 16px;
  left: 16px;
  margin: 0 16px;
  position: absolute;
  top: 64px;
}

.image-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 128px);
}
.image-wrapper-top {
  top: 64px;
}
.image-wrapper-bottom {
  bottom: 64px;
  justify-content: flex-end;
}

  /*1 image group*/
.image-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: calc(50vh - 96px);
  margin: -18px;
  overflow-x: visible;
  overflow-y: auto;
  padding: 18px;
  scrollbar-width: none;
  width: 128px;
}

.image-wrapper-top > .image-group {
  flex-direction: column-reverse;
  justify-content: flex-start;
}

.image-wrapper-top > .image-group {animation: 0.5s ease-out 0s 1 slideInFromTop;}
.image-wrapper-bottom > .image-group {animation: 0.5s ease-out 0s 1 slideInFromBottom;}

  /*2 small elements*/
.spacer {height: 32px;}

.pointer {
  background: var(--text);
  border-radius: 2px;
  height: 16px;
  width: 4px;
}

  /*3 text*/
.text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  padding: 16px 0;
  text-align: center;
  width: 100%;
}

.text-wrapper > .date {margin: 0;}

.text-wrapper > .description {
  color: var(--text-variant);
  margin: 0;
  max-width: 192px;
  overflow-wrap: anywhere;
}

.image-wrapper-top > .text-wrapper {animation: 0.5s ease-out 0s 1 slideInFromBottom;}
.image-wrapper-bottom > .text-wrapper {animation: 0.5s ease-out 0s 1 slideInFromTop;}

/*---Image View-------------------*/
.image-view-wrapper {
  align-items: center;
  display: flex;
  height: 80vh;
  justify-content: center;
  left: 10vw;
  top: 10vh;
  pointer-events: none;
  position: fixed;
  width: 80vw;
  z-index: 102;
}

.image-view {
  box-shadow: var(--shadow-dp12);
  height: min-content;
  max-width:100%;
  max-height:100%;
  pointer-events: all;
  transition: .04s;
  width: min-content;
}

.image-preview {
  transition: .15s box-shadow;
  border-radius: var(--radius);
}

.image-preview:hover {
  box-shadow: var(--shadow-dp12);
  cursor: pointer;
  display: block;
}